section button {
    background-color: rgb(8, 70, 8);
    color: white;
    font-size: 110%;
    padding: 0.5 1% 0.5% 1%;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
}

section button:hover {
    background-color: rgb(11, 88, 11);
}


section{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 7fr 2fr;
    gap: 2%;
}

section div{
    padding: 1%;
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    border-right: 0.1rem solid rgb(8, 70, 8);
}

.stats div{
    border: 0.1rem solid rgb(8, 70, 8);
    border-radius: 0.5rem;
    padding: 2%;
}

.stats div p{
    margin: 1%;
    text-align: center;
}

.stats div:hover{
    background-color: whitesmoke;
}



/* Tablet Media Query */
@media screen and (max-width: 768px) {
    section{
        font-size: 200%;
        grid-template-columns: 1fr;
    }
    .stats{
        grid-template-columns: 1fr;
        margin-bottom: 1%;
    }
    
    .left div{
        max-width: 100%;
    }

    .right div{
        max-width: 100%;
    }

}

/* Mobile Media Query */
@media screen and (max-width: 480px) {
    section{
        font-size: 200%;
        grid-template-columns: 1fr;
    }
    .stats{
        grid-template-columns: 1fr;
        margin-bottom: 1%;
    }
    
    .left div{
        max-width: 100%;
    }

    .right div{
        max-width: 100%;
    }
}