.banner {
    width: 100%;
    min-height: 10rem;
    background: url("../images/Archer-Cornfield.jpg") center no-repeat;
    background-size: cover;
    padding-top: 15%;
}

.storyboard {
    width: 100%;
    min-height: 15rem;
    background: url("../images/Storyboard.png") center no-repeat;
    background-size: cover;
    padding-top: 30%;
}

.about, .about h1, .contact-us h1, .heading{
    width:50%;
    margin: 5% 25% 5% 25%;
}

.about-project h1, .contact-us h1, .heading{
    text-align: center;
}

.individual {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width:65%;
    margin: 5% 17.5% 25% 17.5%;
    max-height: 20rem;
}

.individual img{
    max-width: 100%;
    max-height: 100%;
}

.description {
    background-color:rgb(187, 202, 248);
    padding: 5%;
    line-height: 1.5;
}

/* Tablet Media Query */
@media screen and (max-width: 768px) {
    .banner {
        min-height: 15rem;
    }

    .about, .heading, p{
        font-size: 150%;
    }

    .about h1, .contact-us h1{
        font-size: 200%;
    }

    .about, .about h1, .contact-us h1, .individual, .heading{
        width:90%;
        margin: 5% 15% 5% 5%;
    }

    .individual{
        grid-template-columns: 1fr;
        max-height: fit-content;
    }

}

/* Mobile Media Query */
@media screen and (max-width: 480px) {
    .banner {
        min-height: 15rem;
    }

    .about, .heading, p{
        font-size: 150%;
    }
    
    .about h1, .contact-us h1{
        font-size: 200%;
    }

    .about, .about h1, .contact-us h1, .individual, .heading{
        width:90%;
        margin: 5% 15% 5% 5%;
    }

    .individual{
        grid-template-columns: 1fr;
        max-height: fit-content;
    }
}