html {
    font-size: 1.51vw;
}

.topnav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
    border: 0.1rem solid rgb(11, 88, 11);
    max-height: 4.5vw;
    padding: 0.2% 0% 0.2% 0%;
}

.topnav h1 {
    float: left;
    padding: 0.40vw;
    border: none;
    margin-top: 0%;
    font-size: 1rem;
    position: relative;
    top: 0;
    left: 0;
    color: rgb(8, 70, 8);
    font-weight: bold;
}


.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 1.06vw 1.21vw;
    text-decoration: none;
    font-size: .9rem;
}

.topnav a:hover {
    text-decoration: underline;
    color: rgb(8, 70, 8);
}

.topnav a.active {
    color: rgb(8, 70, 8);
    font-weight: bold;
}

.topnav .view-more {
    display: none;
}


footer {
    margin-top: 2%;
    background-color: rgb(78, 76, 76);
    color: white;
    padding-left: 2%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}




/* Tablet Media Query */
@media screen and (max-width: 768px) {
    html {
        font-size:2vw;
    }

    .topnav h1 {
        font-size: 1.7rem;
    }
    
    .topnav .bar{
        display: none;
    }

    .topnav {
        display: grid;
        grid-template-columns: 5fr 1fr;

    }

    .topnav .view-more {
        background-color: white;
        color: black;
        display: inline;
        float: right;
        border: none;
        max-height: 90%;
    }
    
    .topnav .view-more:hover{
        cursor: pointer; 
    }

}

/* Mobile Media Query */
@media screen and (max-width: 480px) {
    html {
        font-size:2vw;
    }

    .topnav h1 {
        font-size: 1.7rem;
    }
    
    .topnav .bar{
        display: none;
    }

    .topnav {
        display: grid;
        grid-template-columns: 5fr 1fr;

    }

    .topnav .view-more {
        background-color: white;
        color: black;
        display: inline;
        float: right;
        border: none;
        max-height: 90%;

    }
    
    .topnav .view-more:hover{
        cursor: pointer; 
    }
}